.table-container {
    height: 400px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }

  .title-home{
    padding-left: 2%;
    margin-bottom:2%;
    margin-right: -3%;
  }

  .monitor {
    padding-left: 2%;
    margin-right: -3%;
  }
