.table-container {
    height: 70%;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }

  .title-home{
    padding-left: 2%;
    margin-bottom:2%;
    margin-right: -3%;
  }

  .monitor {
    padding-left: 2%;
    margin-right: -3%;
  }

  .title-container{
    padding-right: 3%;
  }