<div class="pb-2 mt-4 mb-2 border-bottom title-container">
  <div class="row title-home">
      <h2>Case Assignment</h2>
  </div>
  <div class="row monitor">
      <h4>Current Monitor: </h4>
      <h5 class="monitor">{{qm}}</h5><!--this will be dynamic-->
  </div>
</div>

<div class="table-container mat-elevation-z8" *ngIf='showTable'>
  <table mat-table [dataSource]="engineer">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} {{element.last_name}}</td>
    </ng-container>

    <ng-container matColumnDef="timeZone">
      <th mat-header-cell *matHeaderCellDef> Time Zone </th>
      <td mat-cell *matCellDef="let element"> {{element.timezone}} </td>
    </ng-container>

    <ng-container matColumnDef="max">
      <th mat-header-cell *matHeaderCellDef> Max c/p</th>
      <td mat-cell *matCellDef="let element"> {{element.max_case}} </td>
    </ng-container>

    <ng-container matColumnDef="schedule">
      <th mat-header-cell *matHeaderCellDef> Schedule </th>
      <td mat-cell *matCellDef="let element"> {{element.today.time}}  </td>
    </ng-container>
    
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="day">
      <th mat-header-cell *matHeaderCellDef> Day </th>
      <td mat-cell *matCellDef="let element"> {{element.cases.day}} </td>
    </ng-container>

    <ng-container matColumnDef="week">
      <th mat-header-cell *matHeaderCellDef> Week </th>
      <td mat-cell *matCellDef="let element"> {{element.cases.week}} </td>
    </ng-container>

    <ng-container matColumnDef="month">
      <th mat-header-cell *matHeaderCellDef> Month </th>
      <td mat-cell *matCellDef="let element"> {{element.cases.month}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element"> <button class="btn btn-flat btn-primary" (click)="addTicket(element._id)" >+</button>
        / <button class="btn btn-flat btn-danger" (click)="deleteTicket(element._id)" >-</button> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>

        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [hidden]='!row.today.available' [ngClass]="{'alert alert-warning':row.today.color==='warning','alert alert-danger':row.today.color==='danger'}"></tr>

  </table>
</div>