body, html{
  height: 90%!important;
}

.login-marge{
    margin:auto;
    padding-top: 2%;
}

.text-right{
    width: 72%;
}

.login-box{
  padding-top: 10%;
  width: 50%;
}

.title{
  text-align: center;
  margin-right: 10%;
}

.logo{
  width: 30%;
  text-align: center;
  margin-left: 28%;
  padding-bottom: 5%;
}