<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">Monday</th>
      <th scope="col">Tuesday</th>
      <th scope="col">Wednesday</th>
      <th scope="col">Thursday</th>
      <th scope="col">Friday</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Morning</td>
      <td>Engineer</td>
      <td>Engineer</td>
      <td>Engineer</td>
      <td>Engineer</td>
      <td>Engineer</td>
    </tr>
    <tr>
      <td>Afternoon</td>
      <td>Engineer</td>
      <td>Engineer</td>
      <td>Engineer</td>
      <td>Engineer</td>
      <td>Engineer</td>
    </tr>
  </tbody>
</table>