<div class="pb-2 mt-4 mb-2 border-bottom title-container">
  <div class="row title-home">
      <h2>Registration</h2>
  </div>
</div>


<div class="container">
  <div class="row row-container">
    <form class="form-card">
      <div class="col-lg-3">
        <label class="field a-field a-field_a1 page__field">
          <input class="field__input a-field__input" placeholder="e.g. Matt" required>
          <span class="a-field__label-wrap">
            <span class="a-field__label">First name</span>
          </span>
        </label>
      </div>
      <div class="col-lg-3">
        <label class="field a-field a-field_a1 page__field">
          <input class="field__input a-field__input" placeholder="e.g. Lee" required>
          <span class="a-field__label-wrap">
            <span class="a-field__label">Last Name</span>
          </span>
        </label>
      </div>
      <div class="col-lg-3">
        <label class="field a-field a-field_a1 page__field">
          <input class="field__input a-field__input" placeholder="e.g. user@microfocus.com" required>
          <span class="a-field__label-wrap">
            <span class="a-field__label">Email</span>
          </span>
        </label>
      </div>
      <div class="col-lg-3">
        <label class="field a-field a-field_a1 page__field">
          <input class="field__input a-field__input" placeholder="e.g. Alphareta" required>
          <span class="a-field__label-wrap">
            <span class="a-field__label">City</span>
          </span>
        </label>
      </div>
    </div>
    <div class="row row-container">
      <div class="col-lg-3">
        <label class="field a-field a-field_a1 page__field">
          <input class="field__input a-field__input" placeholder="0" required>
          <span class="a-field__label-wrap">
            <span class="a-field__label">Max Case</span>
          </span>
        </label>
      </div>
      <div class="col-lg-3">
        <label class="field a-field a-field_a1 page__field">
          <input class="field__input a-field__input" placeholder="" required>
          <span class="a-field__label-wrap">
            <span class="a-field__label">Static/Dynamic</span>
          </span>
        </label>
      </div>
      <div class="col-lg-3">
          <div class="wrap-input100 input100-select">
            <span class="label-input100">Needed Services</span>
            <div>
              <select class="selection-2" name="service">
                <option>Choose Services</option>
                <option>Online Store</option>
                <option>eCommerce Bussiness</option>
                <option>UI/UX Design</option>
                <option>Online Services</option>
              </select>
            </div>
            <span class="focus-input100"></span>
          </div>
      </div>
      <div class="col-lg-3">
        <label class="field a-field a-field_a1 page__field">
          <input class="field__input a-field__input" placeholder="e.g. Stanislav" required>
          <span class="a-field__label-wrap">
            <span class="a-field__label">Status</span>
          </span>
        </label>
      </div>
    </div>
    <div class="row row-container">
      <div class="col-lg-6">
        <label class="field a-field a-field_a1 page__field">
          <input class="field__input a-field__input" placeholder="LeeMat123" required>
          <span class="a-field__label-wrap">
            <span class="a-field__label">Username</span>
          </span>
        </label>
      </div>
      <div class="col-lg-6">
        <label class="field a-field a-field_a1 page__field">
          <input type="password" class="field__input a-field__input" placeholder="" required>
          <span class="a-field__label-wrap">
            <span class="a-field__label">Password</span>
          </span>
        </label>
      </div>
    </form>
  </div>
</div>

<script>
  try {
    var selectSimple = $('.js-select-simple');

    selectSimple.each(function () {
        var that = $(this);
        var selectBox = that.find('select');
        var selectDropdown = that.find('.select-dropdown');
        selectBox.select2({
            dropdownParent: selectDropdown
        });
    });

} catch (err) {
    console.log(err);
}


})(jQuery);
</script>